* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Slab', sans-serif;
}

#wrapper {
}

#timeCheck {
  position: fixed;
  left: 20px;
  top: 20px;
  color: #666;
}

#watchContainer {
  position: fixed;
  left: 100px;
  top: 40px;
}

canvas {
  margin: 10px;
}

#stopButton {
  position: fixed;
  left: 20px;
  bottom: 20px;
  font-size: 20px;
  color: #888;
  border: 2px solid #bbb;
  border-radius: 5px;
  padding: 4px 12px;
  cursor: pointer;
}
#stopButton:hover {
  color: #444;
  border-color: #888;
}

