* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

#wrapper {
}

h1 {
  color: #666;
  padding-left: 300px;
}

#canvasContainer {
  position: fixed;
  left: 300px;
  bottom: 300px;
  border: 2px solid #eee;
}

#debugCanvas {
  position: absolute;
  left: 0;
  top: 0;
}

#textInput {
  position: fixed;
  left: 300px;
  bottom: 200px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 36px;
  width: 500px;
  outline: none;
}

